.page-template-default {
  background-color: $color-white-500;
}

@include media-breakpoint-down(sm) {
  .cms-page {
    margin: $cms-page__margin-sm;
    .content {
    }
  }
}
@include media-breakpoint-up(md) {
  .cms-page {
    margin: $cms-page__margin-md;
    .default-content {
      .default-content-content{
        @include pretty-font(1.6, 15px);
      }
    }
  }
}


@include media-breakpoint-up(lg) {
  .cms-page {
    margin: $cms-page__margin-lg;
  }
}