.page-template-contactpage {
  background-color: $color-orange-600;

  .page-wrapper {
    background-color: $color-orange-600;

    .contact-sidebar {
      .sidebar-content{
        max-width: 300px;
      }
      a {
        width: 100%;
      }
    }

    .contact-content {
      font-family: $font-ibm;

      form {
        font-family: $font-light;
        font-size: 17px;

        input:not(.wpcf7-submit) {
          height: 62px;
          margin-bottom: 21px;
          padding: 0 0 0 20px;
          border-color: $color-white-900;
        }

        textarea {
          padding: 10px 0 0 20px;
        }

        .notice {
          font-family: $font-light;
          padding: 10px 0;
          font-size: 17px;
          font-style: italic;
          color: $color-grey-400;
        }

        .wpcf7-submit {
          @extend .btn-black;
          min-width: 284px;
          margin-top: 30px;
        }

        .wpcf7-not-valid-tip {
          color: $color-black-900;
        }

        .wpcf7-validation-errors {
          border-color: $color-black-900;
          margin: 10px 0;
        }
      }
    }

    #map {
      width: 100%;
      height: 491px;
      background-color: grey;
    }
  }

  .site-footer {
    margin-top: 0;
  }
}


@include media-breakpoint-down(sm) {
  .contact-page {
    margin: $cms-page__margin-sm;

    .contact-sidebar {
      @include pretty-font(1.5, 22px);
      margin: 40px 0;
    }

    .contact-content {
      @include pretty-font(1.5, 22px);

      form {
        margin-top: 30px;
        margin-bottom: 30px;

        input:not(.wpcf7-submit) {
          width: 100%;
        }

        textarea {
          width: 100%;
        }

        .wpcf7-submit {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .contact-page {
    margin: $cms-page__margin-md;

    .contact-sidebar {
      @include pretty-font(1.5, 22px);
      padding-top: 8px;
      a {
        max-width: 284px;
      }
    }

    .contact-content {
      @include pretty-font(1.5, 22px);

      form {
        margin-top: 66px;
        margin-bottom: 132px;

        input:not(.wpcf7-submit) {
          width: 95%;
        }

        textarea {
          width: 95%;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .contact-page {
    margin: $cms-page__margin-lg;

    .contact-content {
      @include pretty-font(1.5, 30px);
    }
  }
}

@include media-breakpoint-up(xl) {
  .contact-page {
    .contact-sidebar {
      @include pretty-font(1.5, 32px);
      padding-left: 40px;
      padding-right: 40px;
    }

    .contact-content {
      @include pretty-font(1.5, 36px);
    }
  }
}