.home-page {
  .hero-image-wrapper {
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: rgba(0,0,0,.3);
    }
  }
  .home-employee-block {
    background-color: $color-grey-400;

    .col-right {
      box-sizing: border-box;
      color: $color-white-900;
    }
  }

  .block-recensies {
    .owl-carousel-recensies {
      .item {
        .image-wrapper {
          float: left;
          display: inline-block;
          img {
            max-width: 80px;
            max-height: 81px;
            width: auto;
          }
        }

        .content {
          font-family: $font-light;
          color: $color-grey-300;
          display: inline-block;
          float: right;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .home-page {
    .hero-image-wrapper {
      .hero-image-text-wrapper {
        .hero-image-text-block {
          a {
            padding: 5px 12px;
          }
        }
      }
    }

    .title-projecten {
      margin: 50px 0 10px 0;
    }

    .owl-carousel-projecten {
      height: 250px;
      margin: 20px 0;

      .owl-item {
        height: 250px;
      }
    }

    .home-intro-tekst {
      margin-top: 50px;
      margin-bottom: 80px;

      .col-left {
        margin-bottom: 40px;
      }
    }

    .title-team {
      margin: 0px 0 40px 0;
    }

    .home-employee-block {
      .col-right {
        padding-top: 30px;
        padding-bottom: 30px;

        .btn-orange {
          width: 100%;
        }
      }
    }

    .block-recensies {
      margin-top: 80px;
      margin-bottom: 80px;

      .title-recensies {
        margin: 40px 0 50px 0;
      }

      .owl-carousel-recensies {
        .item {
          .image-wrapper {
            width: 30%;
          }

          .content {
            width: 70%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .home-page {
    .title-projecten {
      margin: 240px 0 60px 0;
    }

    .owl-carousel-projecten {
      margin: 20px 0;

      .owl-item {
        height: 400px;
      }
    }

    .home-intro-tekst {
      margin-top: 240px;
      margin-bottom: 50px;
    }

    .title-team {
      margin: 200px 0 115px 0;
    }

    .home-employee-block {
      .col-left {
        padding-right: 0;
      }

      .col-right {
        padding-top: 10px;

        .text-small-block {
          padding-left: 0;
          font-size: 15px;
        }
      }
    }

    .block-recensies {
      margin-top: 151px;
      margin-bottom: 150px;

      .title-recensies {
        margin-bottom: 50px;
      }

      .owl-carousel-recensies {
        .item {
          max-width: 500px;

          .image-wrapper {
            width: 25%;
          }

          .content {
            width: 75%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .home-page {
    .home-employee-block {
      .col-right {
        padding: 50px 60px 10px 70px;

        .text-small-block {
          font-size: 20px;
        }

        .btn-wrapper {
          margin-top: 25px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .home-page {
    .home-employee-block {
      .col-right {
        padding: 80px 10px 10px 110px;

        .text-small-block {
          font-size: 25px;
        }
      }
    }
  }

}