.page-template{
  background-color: $color-white-500;
}
.page-over-ons {
  .wp-block-group {
    .wp-block-column {
      &:nth-of-type(1) {
        @extend .text-large-block;
      }
      &:nth-of-type(2) {
        @extend .text-small-block;
      }
    }
  }

  .medewerkers-block {

    .medewerker-item {
      max-width: 448px;

      &-image {
        position: relative;
        &-naam {
          padding: 2px 5px 2px 20px;
          font-size: 27px;
          color: $color-white-900;
          position: absolute;
          bottom: 100px;
          display: inline-block;
          right: 0;
          background-image: $color-orange-gradient;
        }

        &-functie {
          font-size: 25px;
          font-family: $font-light;
          color: $color-white-900;
          position: absolute;
          bottom: 50px;
          display: inline-block;
          right: 23px;
        }

      }

      &-content {
        margin-top: 54px;
        font-family: $font-ibm;
      }

      &-extra {
        &-email {
          a {
            font-family: $font-ibm;
            color: $color-grey-400;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-over-ons {
    margin: $cms-page__margin-sm;
    .medewerkers-block {
      margin-top: 120px;
      .medewerkers-item-container{
        &:not(:last-child){
          margin-bottom: 100px;
        }
        .medewerker-item {
          &-extra {
            &-email {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .page-over-ons {
    margin: $cms-page__margin-md;
    .medewerkers-block {
      margin-top: 220px;
      .medewerkers-item-container{
        margin-bottom: 100px;
        &:nth-of-type(even) {
          padding-left: 40px;
        }
        .medewerker-item {
          &-content{
            font-size: 15px;
          }
          &-extra {
            &-email {
              margin-top: 80px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .page-over-ons {
    .medewerkers-block {
      margin-top: 320px;
    }
  }
}


@include media-breakpoint-up(xl) {
  .page-over-ons {
    .medewerkers-block {
      .medewerkers-item-container{
        .medewerker-item {
          &-content{
            font-size: 18px;
          }
        }
      }
    }
  }
}