.page-projecten-overview {
  .grid-item {
    background-color: $color-grey-400;
  }
}
@include media-breakpoint-down(sm) {
  .page-projecten-overview {
    .grid-item {
      border-bottom: solid 1px $color-grey-400;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-projecten-overview {
    .grid-item {
      overflow: hidden;
      border-bottom: solid 6px $color-grey-400;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &:not(:first-child){
        max-height: 500px;
      }
      &:nth-of-type(even) {
        border-right: solid 3px $color-grey-400;
      }

      &:nth-of-type(odd) {
        border-left: solid 3px $color-grey-400;
      }

      .content {
        font-size: 25px;

        .last-word {
          font-size: 43px;
        }
      }
    }
    + .site-footer{
      margin-top: -6px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .page-projecten-overview {
    .grid-item {
      .content {
        font-size: 37px;

        .last-word {
          font-size: 63px;
        }
      }
    }
  }
}