.single-projecten{
  background-color: $color-white-500;
}

@include media-breakpoint-down(sm){
  .single-projecten{
    margin-top: $header_height-mobile;
    .page-projecten-detail {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
@include media-breakpoint-up(md) {
  .single-projecten {
    margin-top: $header_height-desktop;
    .page-projecten-detail {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .single-projecten {
    .page-projecten-detail {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
}