@mixin btn-theme($btn-color,$btn-hover) {
  padding: 10px 30px;
  color: $color-white-900;
  background-color: $btn-color;
  font-size: 16px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  font-family: $font-ibm;
  display: inline-block;
  &:hover {
    transition: background-color 0.2s;
    color: $color-white-900;
    background-color: $btn-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-white-900;
    background-color: $btn-color;
  }
}

.btn-orange{
  @include btn-theme($color-orange-500, $color-orange-300);
}

.btn-black{
  @include btn-theme($color-black-900, $color-black-900);
}
