.default-content {
  .default-content {
    &-title {
      font-family: $font-light;
    }
  }

  &-content {
    .wp-block-column {
      &:nth-of-type(1) {
        @extend .text-large-block;
      }

      &:nth-of-type(2) {
        @extend .text-small-block;
      }

      p:last-child {
        margin-bottom: 0;
      }

      .wp-block-image, figure {
        margin-bottom: 0;
      }
    }

    font-family: $font-normal;

    strong, b {
      font-family: $font-bold;
      font-weight: 300;
    }

    h2, h3, h4 {
      font-family: $font-bold;
      margin: 20px 0;
    }

    img, .wp-block-cover {
    }

    figcaption {
      font-family: $font-ibm;
    }

    iframe {
      /* override other styles to make responsive */
      width: 100%;
      height: calc((100vw * 9) / 16);
    }
  }
}

@include media-breakpoint-down(sm) {
  .default-content {
    &-title {
      font-size: 33px;
      margin: 0 0 40px 0;
    }

    &-content {
      @include pretty-font(1.6, 16px);

      .wp-block-column {
        &:nth-of-type(2) {
          margin-bottom: 30px;
        }
      }

      figcaption {
        font-size: 18px;
      }

      .wp-block-columns {
        margin: 10px 0;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .default-content {
    &-content {
      .wp-block-media-text {
        .wp-block-media-text__content {
          padding: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .default-content {
    &-title {
      font-size: 43px;
      margin: 0 0 40px 0;
    }

    &-content {
      @include pretty-font(1.5, 18px);

      .wp-block-column {
        &:nth-of-type(2) {
        }
      }

      img, .wp-block-cover {
      }

      figcaption {
        font-size: 18px;
        max-width: 50%;
      }

      .wp-block-columns {
        margin: 20px 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .default-content {
    &-title {
      font-size: 63px;
      margin: 0 0 60px 0;
    }

    &-content {
      @include pretty-font(
              $font-lineheight: 35px,
              $font-size: 25px
      );

      .wp-block-column {
        &:nth-of-type(2) {
        }
      }

      figcaption {
        font-size: 25px;
      }
    }
  }
}