@include media-breakpoint-down(sm) {
  .call-to-action {
    margin-top: 140px;
    margin-bottom: 103px;
  }
}

@include media-breakpoint-up(md) {
  .call-to-action {
    margin-top: 240px;
    margin-bottom: 203px;
    a{
      font-size: 25px;
    }
  }
}