.site-footer {
  background-color: $color-grey-400;
  color: $color-white-900;

  .footer-content {
    padding-top: 50px;

    a {
      color: $color-white-500;
    }

    .col-left {
      font-family: $font-normal;
      color: $color-white-500;

      strong {
        display: block;
        font-weight: 300;
        font-family: $font-bold;
      }

      .footer-socials {
        i {
          display: inline-block;
          color: $color-white-500;
          margin-right: 10px;
          vertical-align: middle;
          cursor: pointer;

          &:hover {
            @include faa-ring-slow();
          }
        }
      }
    }

    .col-right {
      font-family: $font-normal;

      img {
        width: 200px;
        height: auto;
      }

      span {
        display: block;
      }

      ul {
        padding: 0;

        li {
          list-style: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .site-footer {
    padding-top: 40px;
    padding-bottom: 40px;

    .footer-content {
      .col-left {
        @include pretty-font(
                $font-lineheight: 32px,
                $font-size: 18px
        );


        strong {
          @include pretty-font(
                  $font-lineheight: 6px,
                  $font-size: 25px
          );
        }

        .footer-socials {
          margin-top: 20px;
          margin-bottom: 20px;

          i {
            font-size: 31px;

            &.fa-facebook-f, &.fa-linkedin-in {
              font-size: 15.5px;
              padding: 4.5px 8px;
              border: solid 2px $color-white-900;
              border-radius: 8px;
            }

            &.fa-linkedin-in {
              padding: 4.5px 6px;
            }
          }
        }

        .footer-address {
          a {
            @include striped-title(
                    $title-size: 18px,
                    $title-margin: 0px,
                    $stripe-color: $color-white-900
            );
          }
        }
      }

      .col-right {
        @include pretty-font(
                $font-lineheight: 30px,
                $font-size: 15px
        );
        text-align: left;
        margin-top: 80px;

        span {
          margin-top: 50px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .site-footer {
    padding-top: 141px;
    padding-bottom: 80px;

    .footer-content {
      .col-left {
        @include pretty-font(
                $font-lineheight: 40px,
                $font-size: 27px
        );

        strong {
          @include pretty-font(
                  $font-lineheight: 8px,
                  $font-size: 30px
          );
        }

        .footer-socials {
          margin-top: 25px;

          i {
            font-size: 40px;

            &.fa-facebook-f, &.fa-linkedin-in {
              font-size: 19.5px;
              padding: 5.5px 10px;
              border: solid 3px $color-white-900;
              border-radius: 10px;
            }

            &.fa-linkedin-in {
              padding: 5.5px 8px;
            }
          }
        }

        .footer-address {
          margin-top: 99px;

          a {
            @include striped-title(
                    $title-size: 27px,
                    $title-margin: 0px,
                    $stripe-color: $color-white-500
            );
          }
        }
      }

      .col-right {
        @include pretty-font(
                $font-lineheight: 30px,
                $font-size: 20px
        );
        text-align: right;
        float: right;

        span {
          margin-top: 140px;
        }
      }
    }
  }
}