.navbar {
  box-shadow: 0px 5px 8px -6px rgba(0, 0, 0, 0.2);

  &-content {
    display: block;
    width: 100%;
    max-width: $navbar-max-width;
    position: relative;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    .custom-logo-link {
      display: inline-block;
      float: left;
    }

    .navbar-collapse {
      ul {
        li {
          &.active {
            > a.nav-link {
              color: $color-orange-500;
            }
          }

          a {
            font-family: $font-monster;
            text-transform: uppercase;
          }
        }
      }
    }
  }


}

@include media-breakpoint-down(sm) {
  .collapse:not(.show) {
    display: block !important;
    position: fixed;
    height: 100%;
  }
  .navbar {
    height: $header_height-mobile;

    .logo, .custom-logo-link {
      img {
        width: 130px;
        height: 70px;
      }
    }

    .navbar-toggler {
      float: right;
      margin-top: 10px;

      &:focus, &:active {
        outline: 0;
      }

      border: none;
      position: relative;

      span {
        display: block;
        background-color: black;
        height: 3px;
        width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        position: relative;
        left: 0;
        opacity: 1;

        &:nth-child(1), &:nth-child(3) {
          -webkit-transition: transform .35s ease-in-out;
          -moz-transition: transform .35s ease-in-out;
          -o-transition: transform .35s ease-in-out;
          transition: transform .35s ease-in-out;
        }
      }

      &:not(.collapsed) span {
        &:nth-child(1) {
          position: absolute;
          left: 12px;
          top: 10px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
          opacity: 0.9;
        }

        &:nth-child(2) {
          height: 12px;
          visibility: hidden;
          background-color: transparent;
        }

        &:nth-child(3) {
          position: absolute;
          left: 12px;
          top: 10px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
          opacity: 0.9;
        }
      }
    }

    .navbar-collapse {
      position: fixed;
      top: 54px;
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      height: 100%;
      width: 60%;
      right: -70%;
      min-height: 400px;
      display: block;
      transition: right 0.5s;
      background-color: #ffffff;

      &.collapsing {
        height: 100% !important;
        position: fixed !important;
        transition: right 0.5s ease-out;
        right: -70%;
        display: block !important;
      }

      &.active {
        right: 0;
        transition: right 0.5s ease-in;
      }

      .menu-main_menu-container {
        margin-top: 30px;
        .dropdown-menu{
          border: none;
        }
      }
    }
  }


  .sidenav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: black; /* Black*/
    display: block;
    opacity: 0;
    transition: 0.5s ease-out;

    &.active {
      transition: 0.5s ease-in;
      width: 40%;
      opacity: 0.6;
    }
  }
}


@include media-breakpoint-up(md) {
  .navbar {
    height: $header_height-desktop;
    .custom-logo-link {
      margin-top: 10px;
      img {
        width: 157px;
        height: auto;
      }
    }

    .navbar-collapse {
      margin-top: 50px;

      ul {
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    height: $header_height-desktop;

    .logo {
      position: absolute;
      left: 0;
      right: 0;
      top: 10px;
      margin: 0 auto;
    }

    .navbar-collapse {
      @include max-container;
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    .navbar-collapse {
      ul {
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    .navbar-collapse {
      ul {
        li {
          a {
            font-size: 18px;
          }

          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}