.hero-image-wrapper {
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  .hero-image-text-wrapper {
    width: 100%;
    position: absolute;
    max-width: $layout_max-width;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;

    .hero-image-text-block {
      h1.title {
        margin-left: -5px;
        font-family: $font-bold;
        color: $color-white-900;
        font-weight: bold;
      }

      .subtitle {
        h2, h3 {
          font-family: $font-normal;
          color: $color-white-900;
        }

        a {
          float: left;
          margin-top: 10px;
          @include btn-theme($color-orange-500, $color-orange-300);
        }
      }

      .cta-button {
        margin-bottom: 10px;
      }
    }
  }

  .hero-arrow {
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    background-image: url($foxblur-image-path +"/arrow_down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .hero-image-wrapper {
    .hero-image-text-wrapper {
      h1.title {
        font-size: 40px;
      }

      .subtitle {
        h2, h3 {
          font-size: 20px;
        }
      }
    }

    .hero-arrow {
      display: none;
    }
  }
}

@include media-breakpoint-down(xs) {
  .hero-image-wrapper {
  }
}

@include media-breakpoint-up(md) {
  .hero-image-wrapper {
    .hero-image-text-wrapper {
      h1.title {
        font-size: 80px;
      }

      .subtitle {
        h2, h3 {
          font-size: 30px;
        }
      }
    }
    .hero-arrow {
      width: 90px;
      height: 30px;
      bottom: 50px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero-image-wrapper {
    .hero-image-text-wrapper {
      top: 50%;
      h1.title {
        font-size: 100px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .hero-image-wrapper {
    .hero-image-text-wrapper {
      top: 61%;

      h1.title {
        font-size: 100px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-image-wrapper {
    height: 900px;
  }
}


@media screen and (max-width: 1400px) {
  .hero-image-wrapper {
    .hero-image-text-wrapper {
      max-width: 1200px !important;;
    }
  }
}

@media screen and (max-width: 1620px) {
  .hero-image-wrapper {
    .hero-image-text-wrapper {
      max-width: 1400px;
    }
  }
}