@mixin image-overlay {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  transition: background-color .5s linear;
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .content {
    pointer-events: none;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 35%;
    display: block;
    margin: 0 auto;
    border: none;
    text-align: center;
    opacity: 0;
    color: $color-grey-400;
    font-family: $font-normal;
    letter-spacing: 3.35px;
    font-weight: 300;

    .last-word {
      display: block;
      font-family: $font-light;
      font-weight: 300;
      letter-spacing: 5.63px;
      font-size: 30px;
    }
  }
  &.active {
    background-color: rgba(255, 255, 255, .5);

    .content {
      display: block;
      opacity: 1;
      z-index: 2;
    }
  }
  @include media-breakpoint-down(sm) {
    background-color: rgba(255, 255, 255, .5);
    .content {
      opacity: 1;
    }
  }
}

.full-image {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.hero-image {
  margin-top: $header_height-desktop;
  @include media-breakpoint-down(sm) {
    margin-top: $header_height-mobile;
  }
}

.image-grey-scale {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.image-overlay {
  @include image-overlay;
}

