.owl-carousel-projecten{
  .owl-item {
    .item {
      height: 100%;
      a {
        img {
          object-fit: cover;
          height: 100%;
        }
      }
    }
  }
  .owl-nav {
    button.owl-prev, button.owl-next {
      position: absolute;
      background-color: $color-black-900;
      width: 50px;
      height: 50px;
      z-index: 100;
      top: 40%;
      border: none;
      text-align: center;
      opacity: 0.7;

      i {
        font-size: 15px;
        color: $color-white-900;
      }

      &:hover {
        i {
          @extend .faa-horizontal.animated.faa-slow;
        }
      }
    }

    .owl-prev {
      left: 10px;
    }

    .owl-next {
      right: 10px;
    }
  }

}

@include media-breakpoint-down(sm) {
  .item-slider {
    .owl-item {
      .item {
        a {
          .content {
            .last-word{
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .item-slider {
    .owl-item {
      .item {
        a {
          .content {
            font-size: 20px;
            .last-word{
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .item-slider {
    .owl-item {
      .item {
        a {
          .content {
            font-size: 25px;
            .last-word{
              font-size: 50px;
            }
          }
        }
      }
    }
  }
}