.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.hide-overflow{
  overflow: hidden;
}
.page-wrapper{
  overflow: hidden;
  background-color: $color-white-500;
}
@mixin max-container {
  max-width: $layout_max-width;
  margin-right: auto;
  margin-left: auto;
  position: relative;


  @media screen and (max-width: 1400px) {
      max-width: 1200px !important;;
  }

  @media screen and (max-width: 1620px) {
      max-width: 1400px;
  }
}

@include media-breakpoint-down(sm) {
  .nopadding-mob {
    padding: 0 !important;
    margin: 0 !important;
  }
  .page-wrapper {
    margin-top: $header_height-mobile;
  }
}

@include media-breakpoint-up(md) {
  .page-wrapper {
    margin-top: $header_height-desktop;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px !important;;
  }
}

@media screen and (max-width: 1620px) {
  .container {
    max-width: 1400px;
  }
}