.sl-image {
  cursor: zoom-in;
}
#sl-image-hint {
  display: inline-block;
  z-index: 10000001;
  position: absolute;
  padding: 2px 5px;
  font-size: 12px;
  font-family: $font-bold;
  background-color: $color-grey-500;
  color: $color-white-900;
}