.text-small-block {
  font-family: $font-ibm;
}

.text-large-block {
  font-family: $font-normal;

  a {
    color: $color-orange-500;
  }

  .striped-title-wrapper {
    display: block;
    a {
      color: $color-black-900;
    }
  }
}

@include media-breakpoint-down(sm) {
  .text-small-block {
    @include pretty-font(
            $font-lineheight: 27px,
            $font-size: 16px
    );
  }
  .text-large-block {
    @include pretty-font(
            $font-lineheight: 30px,
            $font-size: 18px
    );

    .striped-title-wrapper {
      margin-top: 10px;
      a {
        @include striped-title($title-size: 18px, $title-margin: -3px)
      }
    }
  }
}


@include media-breakpoint-up(md) {
  .text-small-block {
    @include pretty-font(
            $font-lineheight: 30px,
            $font-size: 20px
    );
    padding-left: 20px;
  }
  .text-large-block {
    @include pretty-font(
            $font-lineheight: 35px,
            $font-size: 28px
    );
    padding-right: 20px;
    .striped-title-wrapper {
      margin-top: 20px;
      a {
        @include striped-title($title-size: 21px, $title-margin: -3px)
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .text-small-block {
    @include pretty-font(
            $font-lineheight: 35px,
            $font-size: 25px
    );
  }
  .text-large-block {
    @include pretty-font(
            $font-lineheight: 40px,
            $font-size: 33px
    );

    .striped-title-wrapper {
      margin-top: 10px;
    }
  }
}