$container-max-widths: (
        sm: $layout_max-width - 3,
        md: $layout_max-width - 2,
        lg:$layout_max-width - 1,
        xl: $layout_max-width
);

$dropdown-link-active-bg: $color-orange-300;