@font-face {
  font-family: 'Gotham-Bold';
  font-style: normal;
  font-weight: 300;
  src: url($font-path +'/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham-Book';
  font-style: normal;
  font-weight: 300;
  src: url($font-path +'/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham-Light';
  font-style: normal;
  font-weight: 300;
  src: url($font-path +'/Gotham-Light.otf');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 300;
  src: url($font-path +'/IBMPlexSans.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 300;
  src: url($font-path +'/Montserrat-Light.ttf');
}


@mixin pretty-font($font-lineheight, $font-size) {
  font-size: $font-size;
  line-height: $font-lineheight;
}

@mixin striped-title($title-size, $title-margin,$stripe-color: $color-black-900) {
  font-weight: 300;
  font-size: $title-size;
  display: inline-block;
  font-family: $font-normal;
  &:after {
    margin-top: $title-margin;
    content: " ";
    width: 100%;
    border-bottom: 1px solid $stripe-color;
    display: block;
  }
  &:hover {
    text-decoration: none;
    color: $color-orange-500;
  }
}

.main-title {
  font-size: 21px;
  font-weight: 300;
  margin-top: 0;
  font-family: $font-normal;
}

.striped-title {
  @include striped-title($title-size: 21px, $title-margin: 4px)
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
}

p, b, strong, i {
  font-family: $font-normal;
}

@include media-breakpoint-down(sm) {
  .main-title {
    margin-bottom: 30px;
  }
}

@include media-breakpoint-up(md) {
  .main-title {
    margin-bottom: 74px;
  }
}
