// Layout
//_____________
$layout_max-width: 1400px;
$layout_padding_left-desktop: 20px;
$layout_padding_right-desktop: 20px;

$layout_padding_left-mobile: 15px;
$layout_padding_right-mobile: 15px;
// Colors
//_____________
$color-white-500: #fbfbfa;
$color-white-900: #ffffff;

$color-black-900: #000;

$color-grey-300: #999999;
$color-grey-400: #202022;
$color-grey-500: rgba(21, 21, 22, 0.65);

$color-orange-300: #ef8b34;
$color-orange-500: #ef7b38;
$color-orange-600: #ed732c;
$color-orange-gradient:linear-gradient(to right, #e74128 0%, #ef8125 100%);
// Header
//_____________
$header_height-desktop: 120px;
$header_height-mobile: 78px;
//
//
//_____________
$foxblur-image-path: "src/images";

// Typography
//_____________
$fa-font-path: "src/webfonts/fontawesome";
$font-path: "src/webfonts/fonts";
$font-bold: "Gotham-Bold";
$font-normal: "Gotham-Book";
$font-light: "Gotham-Light";
$font-ibm: "IBMPlexSans";
$font-monster: "Montserrat-Light";
// Header
//_____________
$navbar_max-width: 1723px;

// Cms page
//_____________
$cms-page__margin-lg: 100px + $header_height-desktop 0 0 0;
$cms-page__margin-md: 50px + $header_height-desktop 0 0 0;
$cms-page__margin-sm: 30px + $header_height-mobile 0 0 0;